version: '3.8'

services:
  web:
    build: .
    container_name: flask_app
    restart: always
    environment:
      - FLASK_APP=yourpackage
      - FLASK_ENV=production
    expose:
      - "5000"
    networks:
      - app_network

  nginx:
    image: nginx:latest
    container_name: nginx_proxy
    restart: always
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx:/etc/nginx/conf.d
      - ./certs:/etc/nginx/certs
    depends_on:
      - web
    networks:
      - app_network

networks:
  app_network:
    driver: bridge